@model OrganikUrunZincirTakip.Models.Nakliye

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nakliye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeslimalimYer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeslimalimYer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeslimedimYer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeslimedimYer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NakliyeAcıklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NakliyeAcıklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depolama.DepolamaYer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depolama.DepolamaYer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NakliyeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
